---
excerpt : ""
layout: archive
sidebar_main: ture
author_profile: true
entries_layout: list

header:
    overlay_image: https://images.unsplash.com/photo-1576072446584-4955dfe17b86?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D
    overlay_filter: 0.5 # same as adding an opacity of 0.5 to a white background
    caption: "Photo credit: [**Unsplash**](https://unsplash.com)"
---
<ul class="posts">
  {% for post in site.posts %}
    <li>
      <a href="{{ post.url }}">
        {% assign thumbnail = post.content | split: '![thumbnail]' | last | split: '(' | last | split: ')' | first %}
        <img src="{{ thumbnail }}" alt="Post Thumbnail" style="width: 150px; height: 150px;" />
        <h2>{{ post.title }}</h2>
      </a>
    </li>
  {% endfor %}
</ul>

<div class="grid__wrapper">
    {% for post in paginator.posts %}
    {% include archive-single3.html type="list" %}
    {% endfor %}
</div>

{% include paginator.html %} 

